*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* 
.para1,.para2{
    color: red;
}


body h1{
    color: violet;
} */
/* 
.box1>h1{
    color: aqua;
} */

/* .para1:hover{
    background-color: red;
} */

/* input:focus{
    background-color: pink;
} */

/* li:first-child{
color: blueviolet;
font-weight: bolder;
} */
/* 
li:last-child{
color: blueviolet;
font-weight: bolder;
} */
/* 
li:nth-child(2){
color: blueviolet;
font-weight: bolder;
} */
/* 

.para2::first-line{
    color: blue;
} */


/* .para2::first-letter{
    color: blue;
    font-size: large;
    font-weight: bold;
} */

/* 
.para2::before{
content: "Good morning";
background-color: aqua;
} */
/* 
.para2::after{
content: "Good morning";
background-color: aqua;
} */

.child>p{
    color:blue;
}