*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* .box{
    background-color: aqua;
    width: 100px;
    height: 100px;

    position: relative;

    top: 50px;
    left: 300px;
}

.box2{
    background-color: red;
    width: 100px;
    height: 100px;
} */

.grandParent{
    width: 500px;
    height: 500px;
    border: 3px solid black;
    margin: 30px auto;
    padding: 30px;
    /* position: relative; */
}

.parent{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    position: relative;
}

.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    bottom: 0;
    right: 0;
}

.box2{
    background-color: red;
    width: 120px;
    height: 120px;
}

.fixEle{
     background-color: yellow;
    width: 120px;
    height: 120px;

    position: fixed;
    top: 0;
    right: 0;
}

.sticky{
    background-color: pink;
    width: 120px;
    height: 120px;
    position:sticky ;
    top: 10px;
}