* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #2b2e57;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: #6ebf50;
}

.orange{
    background-color: #fab32f;
}

.red{
    background-color: #ed3437;
}

.parent {
    width: 800px;
    height: 430px;

    display: flex;
    gap: 10px;

}

.parent>.child1 {
    flex: 1;
}



.parent>.child2 {
    flex: 1.75;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}


.parent>.child2>.part1 {
    flex: 1;
}

.parent>.child2>.part2 {
    flex: 1;
    display: flex;
    gap: 10px;
}

.parent>.child2>.part2>.sec1 {
    flex: 1;
}

.parent>.child2>.part2>.sec2 {
    flex: 1;
}



.parent>.child2>.part3 {
    flex: 1;
    display: flex;
    gap: 10px;
}

.parent>.child2>.part3>.sec1 {
    flex: 1;
}

.parent>.child2>.part3>.sec2 {
    flex: 1;
}



.parent>.child3 {
    flex: 1;
    background-color: green;
}