*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box{
    background-color: aqua;
    margin-bottom: 5px;
    width: 100px;
    height: 100px;
    /* display: inline; */
    /* display: none; */
}

a{
    background-color: red;
    width: 300px;
    height: 300px;
    /* display: block; */
}