* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Navbar */
.navbar {
    background-color: #09254d;
    width: 100%;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar>.logo>img {
    height: 30px;
}

.navbar>.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar>.nav-links>a {
    color: white;
    text-decoration: none;
    font-size: small;
}

.navbar>.quote {
    background-color: #0764de;
    color: white;
    padding: 10px 16px;
    border-radius: 23px;
    cursor: pointer;
}

.navbar>.theme {
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.navbar>.theme>svg {
    width: 20px;
    height: 20px;
}

.navbar>.toggler>svg{
    width: 30px;
    height: 30px;
    fill: white;
    display: none;
}

/* Section1 */

.section1 {
    width: 100%;
    padding: 0 20px;
    background-color: #09254d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.section1>.girl {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.section1>.sec1Img {
    flex: 2;
}

.section1>.sec1Img>img {
    width: 100%;
}

.section1>.sec1Text {
    flex: 2.5;
}

.section1>.sec1Text>h1 {
    color: white;
    font-weight: 600;
    font-size: 35px;
}

.section1>.sec1Text>h1>span {
    color: #0764de;
}

.section1>.sec1Text>p {
    color: white;
    margin: 20px 0;
    width: 400px;
}

.section1>.sec1Text>.logoCont {
    display: flex;
    gap: 15px;
    margin: 20px 0;

}

.section1>.sec1Text>.logoCont>svg {
    fill: #0764de;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.section1>.sec1Text>.btn-cont {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.section1>.sec1Text>.btn-cont>button {

    background-color: #0764de;
    color: white;
    padding: 10px 16px;
    border-radius: 23px;
    cursor: pointer;
}


/* Section  */

.section3 {
    width: 100%;
    padding: 30px 10%;
}

.section3>h1 {
    color: #0764de;
    font-weight: 500;
    text-align: center;
}

.section3>p {
    color: #c78852;
    text-align: center;
}

.section3>.layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.section3>.layout>.text1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section3>.layout>.text1>.box {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.section3>.layout>.text1>.box>.textBox>h2 {
    font-weight: 500;
    font-size: 20px;
    text-align: end;
}

.section3>.layout>.text1>.box>.textBox>p {
    font-size: 12px;
    color: gray;
    text-align: end;
}

.section3>.layout>.text1>.box>.imgBox>svg {
    fill: #0764de;
    width: 60px;
    height: 60px;
}

.section3>.layout>.img {
    flex: 1;
}

.section3>.layout>.img>img{
    width: 100%;
}

.section3>.layout>.text2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.section3>.layout>.text2>.box {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.section3>.layout>.text2>.box>.textBox>h2 {
    font-weight: 500;
    font-size: 20px;
    text-align: start;
}

.section3>.layout>.text2>.box>.textBox>p {
    font-size: 12px;
    color: gray;
    text-align: start;
}

.section3>.layout>.text2>.box>.imgBox>svg {
    fill: #0764de;
    width: 60px;
    height: 60px;
}


@media (max-width:1000px) {
.navbar{
    padding: 20px 5%;}
}

@media (max-width:870px) {

.section1>.sec1Text>h1 {
    font-size: 30px;
}
}


@media (max-width:800px) {

.section1{
    flex-direction: column;
    padding: 20px ;
}
.section1>.sec1Img{
    text-align: center;
}
.section1>.sec1Img>img{
    width: 60%;
}

.section3>.layout{
    flex-direction: column;
}
}

@media (max-width:750px) {
    .navbar>.nav-links{
        display: none;
    }
    .navbar>.quote{
        display: none;
    }
    .navbar>.theme{
        display: none;
    }

    .navbar>.toggler>svg{
        display: block;
    }

    .section1>.sec1Text>p{
        width: auto;
    }
}

