* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 400px;
    height: 400px;
    background-color: red;
    margin: 40px auto;
}

@media (max-width:500px) and (min-width:300px) {
    .container{
        background-color: green;
    }
}