* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.parent{
    width: 500px;
    height: auto;

    border: 1px solid black;
    margin: 30px auto;
    display: grid;

    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 100px 300px 100px;

    grid-auto-rows: 100px;

    gap: 10px;
    /* row-gap: 10px; */
}

.child1{
    background-color: red;
    grid-column: 1/2;
    grid-row: 1/3;
}
.child2{
    background-color: blue;
    grid-column: 2/4;
    grid-row: 1/2;
}
.child3{
    background-color: aqua;
    grid-area: 2/2/3/4;
}
.child4{
    background-color:green;
    grid-area: 3/1/4/4;
}
.child5{
    background-color: yellow;
    grid-area: 4/1/5/3;
}
.child6{
    background-color: violet;
}
.child7{
    background-color: pink;
}
.child8{
    background-color: brown;
}
.child9{
    background-color: black;
}
.child10{
    background-color: blueviolet;
}
.child11{
    background-color: goldenrod;
}
.child12{
    background-color: silver;
}