*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .box{
    background-color: red;
    height: 50vh;
    width: 50vw;
    font-size: 3rem;
}

.inner{
    width: 50%;
    height: 20%;
    background-color: green;
    font-size: 2rem;
} */

/* .box{
    width: 100px;
    height: 100px;
    background-color: aqua;

    position: relative;
    top: 400px;
    left: 300px;

}

.box1{
    width: 100px;
    height: 100px;
    background-color: red;
} */


.parent{
    width: 400px;
    height: 400px;
    border: 5px solid black;
    margin: 70px auto;

}

.child{
    background-color: aqua;
    width: 100px;
    height: 100px;

    position: absolute;
    bottom: 0;
    left: 0;

}

.child2{
    background-color: red;
    width: 150px;
    height: 150px;
}