*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parent{
    padding: 10px;
    
    /* height: 500px; */
    border: 5px solid black;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.parent>div{
    min-width: 100px;
    height: 100px;
    /* flex-grow: 1; */
}

.child1{
    background-color: green;
    /* flex-shrink: 0; */
    flex: 1;
}

.child2{
    background-color: red;
    flex: 1;
}

.child3{
    background-color: yellow;
    /* flex-shrink: 0; */
    flex: 1;
}

.child4{
    background-color: blue;
    flex: 1;
}