div{
    text-align: center;
    background-color: blue;
    width: 300px;
    height: 300px;
    font-size: xx-large;
    /* padding: 40px; */
    /* padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 10px; */
    /* padding: 10px 20px 30px 40px; */
    padding: 25px;
    /* border: 15px;
    border-color: black;
    border-style: solid; */
    border: 15px solid black;
    margin: auto;

    /* border-radius: 60px; */

    /* box-sizing: content-box; */
    box-sizing: border-box;
    
}
